<div class="tw-w-full tw-p-4 tw-bg-white tw-border tw-border-gray-200 tw-rounded-lg tw-shadow sm:tw-p-8">
  <div class="tw-flex tw-items-center tw-justify-between mb-4">
    <h2 class="tw-font-semibold tw-text-xl tw-capitalize">
      {{ employeeDetailData?.firstName }} {{ employeeDetailData?.lastName }}
    </h2>
  </div>
  <div class="tw-flow-root">
      <ul role="list" class="tw-divide-y tw-divide-gray-200">
        @for (employee of employeeDetailData | keyvalue; track $index;) {
          <li class="tw-py-3 sm:tw-py-4">
              <div class="tw-flex tw-items-center">
                  <div class="tw-flex-1 tw-min-w-0 tw-ms-4">
                      <p class="tw-text-sm tw-font-medium tw-text-gray-900 tw-truncate">
                        {{ employee.key }}
                      </p>
                  </div>
                  <div class="tw-inline-flex tw-items-center tw-text-base tw-font-semibold tw-text-gray-900">
                    {{ employee.key !== 'basicSalary' ? employee.value : employee.value | rupiah }}
                  </div>
              </div>
          </li>
        }
      </ul>
  </div>


  <button
    type="button"
    class="tw-text-gray-500 hover:tw-bg-gray-100 tw-bg-gray-200 tw-border-2 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-me-2 tw-mb-2"
    (click)="back()"
  >
    Ok
  </button>
</div>
