<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="tw-flex tw-flex-col tw-min-h-screen tw-justify-between tw-pt-28 tw-pr-8 tw-pb-8 tw-pl-8 lg:tw-pl-16 tw-ml-0 lg:tw-ml-72">
  <div class="tw-flex-auto">

    <router-outlet />

  </div>
</div>
