<header class="tw-h-20 tw-bg-white tw-shadow-md tw-fixed tw-z-[997] tw-w-full tw-top-0 tw-left-0 tw-flex tw-px-8">
  <button class="tw-flex tw-items-center tw-w-72 tw-rounded-xl">
    <img class="tw-h-8 tw-w-auto tw-mr-2" src="https://images.ctfassets.net/zojzzdop0fzx/2LzaUqPdXBjtAbFTaDGbW0/a8b4fbfd6ccab7d6de4c3b0803a35ae5/angular_gradient.svg" alt="">
    <span>EM</span>
  </button>
  <!-- <button type="button" class="tw-ml-8 tw-inline-flex tw-justify-center tw-items-center tw-relative tw-rounded-full" (click)="toggleSidebar()">
    <span class="tw-sr-only">Open main menu</span>
    <svg class="tw-h-6 tw-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button> -->
  <div class="lg:tw-hidden tw-flex tw-items-center tw-ml-2 tw-mt-3">
    <a type="button" [routerLink]="['employees']" class="nav-link">Employee List</a>
    <a type="button" [routerLink]="['add-employee']" class="nav-link">Add Employee</a>
  </div>
  <div class="tw-flex tw-p-0 tw-my-0 tw-mr-0 tw-ml-auto tw-list-none">
    <button class="nav-link" (click)="logout()">Logout</button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tw-size-6 md:tw-hidden tw-block tw-text-white tw-cursor-pointer">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
    </svg>
  </div>

</header>
