<section class="tw-bg-gray-100">
  <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-px-6 tw-py-8 tw-mx-auto tw-h-screen lg:tw-py-0">
      <a href="#" class="tw-flex tw-items-center tw-mb-6 tw-text-2xl tw-font-semibold tw-text-gray-900">
          <img class="tw-w-8 tw-h-8 tw-mr-2" src="https://cdn-icons-png.flaticon.com/512/4370/4370798.png" alt="logo" />
          {{ app.title }}
      </a>
      <div class="tw-w-1/3 tw-bg-white tw-rounded-lg tw-shadow md:tw-mt-0 sm:tw-max-w-md xl:tw-p-0">
          <div class="tw-p-6 tw-space-y-4 md:tw-space-y-6 sm:tw-p-8">
              <h1 class="tw-text-xl tw-font-bold tw-leading-tight tw-tracking-tight tw-text-gray-900 md:tw-text-2xl">
                  Sign in
              </h1>
              <form [formGroup]="loginForm" class="tw-space-y-4 md:tw-space-y-6" (ngSubmit)="signin()">
                  <div>
                      <label for="email" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900">Your email</label>
                      <input
                          type="email"
                          name="email"
                          id="email"
                          class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 sm:tw-text-sm tw-rounded-lg tw-block tw-w-full tw-p-2.5"
                          formControlName="email"
                          [(ngModel)]="credential.email"
                          autocomplete="off"
                      />
                  </div>
                  <div>
                      <label for="password" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900">Password</label>
                      <input
                          type="password"
                          name="password"
                          id="password"
                          placeholder="••••••••"
                          class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 sm:tw-text-sm tw-rounded-lg tw-block tw-w-full tw-p-2.5"
                          formControlName="password"
                          [(ngModel)]="credential.password"
                          autocomplete="off"
                      />
                  </div>
                  <div class="tw-flex tw-items-center tw-justify-between">
                      <a href="#" class="tw-text-sm tw-font-medium tw-text-primary-600 hover:tw-underline">Forgot password?</a>
                  </div>
                  <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-500 hover:tw-bg-blue-400 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center">Sign in</button>
              </form>
          </div>
      </div>

  </div>
  </section>
