<div class="tw-flex tw-justify-between tw-items-center">
  <h2 class="tw-text-2xl tw-font-semibold tw-leading-tight">Employees</h2>
  <a type="button" class="tw-text-gray-500 hover:tw-bg-gray-100 tw-border-2 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-me-2 tw-mb-2" [routerLink]="['/add-employee']">Add Employee</a>
</div>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover" style="overflow-x: visible;">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Basic Salary</th>
        <th>Status</th>
        <th>Group</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(item of data; track $index) {
        <tr (click)="detailEmployee(item)">
          <td class="username">{{item.username}}</td>
          <td class="firstName">{{item.firstName}}</td>
          <td class="lastName">{{item.lastName}}</td>
          <td class="email">{{item.email}}</td>
          <td class="birthDate">{{item.birthDate}}</td>
          <td class="basicSalary">{{item.basicSalary | rupiah}}</td>
          <td class="status">{{item.status}}</td>
          <td class="group">{{item.group}}</td>
          <td class="description">{{item.description}}</td>
          <td (click)="$event.stopPropagation()">
            <button
              title="edit"
              id="buttonedit"
              type="button"
              class="tw-inline-block tw-text-yellow-500"
              (click)="actionValidate('edit', item)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="tw-size-6 tw-text-yellow-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg></button>
            <button
              title="delete"
              type="button"
              class="tw-inline-block tw-text-red-500"
              (click)="actionValidate('delete', item)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="tw-size-6 tw-text-red-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
