<div class="tw-mx-auto tw-flex tw-justify-center">

  <div class="-tw-mx-4 sm:-tw-mx-8 tw-px-4 sm:tw-px-8 tw-py-4 tw-border-2 tw-rounded-lg tw-drop-shadow-md">
    <h2 class="tw-ext-2xl tw-font-semibold tw-leading-tight">{{ title }}</h2>

    <form class="tw-w-full tw-max-w-lg tw-mt-10" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="tw-flex tw-flex-wrap -tw-mx-3 tw-mb-6">

        <div class="tw-w-full tw-px-3">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold mb-2" for="grid-first-name">
            Username
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-rounded tw-py-3 tw-px-4 tw-mb-3 tw-leading-tight focus:tw-outline-none focus:tw-bg-white" id="grid-first-name" type="text" placeholder="xyz1990" formControlName="username">
          @if (submitted && f['username'].errors) {
            @if (f['username'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
            @if (f['username'].errors['minlength']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Username must be at least 6 characters.</p>
            }
            @if (f['username'].errors['maxlength']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Username must not exceed 20 characters.</p>
            }
          }
        </div>
        <div class="tw-w-full md:tw-w-1/2 tw-px-3 tw-mb-6 md:tw-mb-0">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="grid-first-name">
            First Name
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-rounded tw-py-3 tw-px-4 tw-mb-3 tw-leading-tight focus:tw-outline-none focus:tw-bg-white" id="grid-first-name" type="text" placeholder="Adon" formControlName="firstName">
          @if (submitted && f['firstName'].errors) {
            @if (f['firstName'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
          }
        </div>
        <div class="tw-w-full md:tw-w-1/2 tw-px-3">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="grid-last-name">
            Last Name
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="grid-last-name" type="text" placeholder="Muhammad" formControlName="lastName">
          @if (submitted && f['lastName'].errors) {
            @if (f['lastName'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
          }
        </div>
      </div>

      <div class="tw-flex tw-flex-wrap -tw-mx-3 tw-mb-6">
        <div class="tw-w-full tw-px-3">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="birth-date">
            Birth Date
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-mb-3 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="birth-date" type="date" [max]="maxDate" placeholder="adonmuhammaddd.dev@gmail.com" formControlName="birthDate">
          @if (submitted && f['birthDate'].errors) {
            @if (f['birthDate'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
          }
        </div>
      </div>

      <div class="tw-flex tw-flex-wrap -tw-mx-3 tw-mb-6">
        <div class="tw-w-full tw-px-3">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="email">
            Email
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-mb-3 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="email" type="email" placeholder="adonmuhammaddd.dev@gmail.com" formControlName="email">
          @if (submitted && f['email'].errors) {
            @if (f['email'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
            @if (f['email'].errors['email']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Email is Invalid.</p>
            }
          }
        </div>
      </div>
      <div class="tw-flex tw-flex-wrap -tw-mx-3 tw-mb-2">
        <div class="tw-w-full md:tw-w-1/3 tw-px-3 tw-mb-6 md:tw-mb-0">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="basic-salary">
            Basic Salary
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="basic-salary" type="text" placeholder="0" appNumberOnly formControlName="basicSalary">
          @if (submitted && f['basicSalary'].errors) {
            @if (f['basicSalary'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
          }
        </div>
        <div class="tw-w-full md:tw-w-1/3 tw-px-3 tw-mb-6 md:tw-mb-0">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="status">
            Status
          </label>
          <div class="tw-relative">
            <select class="tw-block tw-appearance-none tw-w-full tw-border tw-border-gray-200 tw-text-gray-700 tw-py-3 tw-px-4 tw-pr-8 tw-rounded tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="status" formControlName="status">
              @for(stat of status; track $index) {
                <option [value]="stat.value">{{ stat.name }}</option>
              }
            </select>
            @if (submitted && f['status'].errors) {
              @if (f['status'].errors['required']) {
                <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
              }
            }
            <div class="tw-pointer-events-none tw-absolute tw-inset-y-0 tw-right-0 tw-flex tw-items-center tw-px-2 tw-text-gray-700">
              <svg class="tw-fill-current tw-h-4 tw-w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
        <div class="tw-w-full md:tw-w-1/3 tw-px-3 tw-mb-6 md:tw-mb-6">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="status">
            Group
          </label>
          <div class="tw-relative">
            <input class="tw-block tw-appearance-none tw-w-full tw-border tw-border-gray-200 tw-text-gray-700 tw-py-3 tw-px-4 tw-pr-8 tw-rounded tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="status" formControlName="group" list="group">
            <datalist id="group">
              @for(group of groups; track $index) {
                <option [value]="group.name">{{ group.name }}</option>
              }
            </datalist>
            @if (submitted && f['group'].errors) {
              @if (f['group'].errors['required']) {
                <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
              }
            }
            <div class="tw-pointer-events-none tw-absolute tw-inset-y-0 tw-right-0 tw-flex tw-items-center tw-px-2 tw-text-gray-700">
              <svg class="tw-fill-current tw-h-4 tw-w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="tw-flex tw-flex-wrap -tw-mx-3 tw-mb-6">
        <div class="tw-w-full tw-px-3">
          <label class="tw-block tw-uppercase tw-tracking-wide tw-text-gray-700 tw-text-xs tw-font-bold tw-mb-2" for="email">
            Description
          </label>
          <input class="tw-appearance-none tw-block tw-w-full tw-text-gray-700 tw-border tw-border-gray-200 tw-rounded tw-py-3 tw-px-4 tw-mb-3 tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-gray-500" id="desc" type="datetime-local" placeholder="" [max]="maxDateDesc" formControlName="description">
          @if (submitted && f['description'].errors) {
            @if (f['description'].errors['required']) {
              <p class="tw-text-red-500 tw-text-xs tw-italic">Please fill out this field.</p>
            }
          }
        </div>
      </div>

      <div class="tw-flex tw-flex-row tw-justify-between">
        <button
          type="submit"
          class="tw-text-white hover:tw-bg-blue-500 tw-bg-blue-600 tw-tw-border-2 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-me-2 tw-mb-2"
        >
          Submit
        </button>
        <button
          type="button"
          class="tw-text-gray-500 hover:tw-bg-gray-100 tw-bg-gray-200 tw-border-2 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-me-2 tw-mb-2"
          (click)="back()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
