<div
class="tw-w-0 tw-bg-white tw-fixed tw-left-0 tw-top-0 tw-h-screen tw-z-[999] tw-overflow-y-auto tw-select-none tw-shadow-md lg:tw-px-6 tw-py-2 tw-rounded-tl-none tw-rounded-bl-none tw-translate-x-0 tw-transition-all lg:tw-rounded-xl lg:tw-w-72 lg:tw-top-28 lg:tw-left-6 lg:tw-h-[calc(100vh-9rem)] adn-sidebar">
  <div class="layout-menu">
    <ul class="tw-m-0 tw-p-0 tw-list-none tw-pb-3">
      <span class="tw-text-sm tw-uppercase tw-font-bold tw-my-0">Employees</span>
      <div class="tw-flex tw-items-center tw-ml-2 tw-mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tw-size-6 tw-mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
        </svg>
        <a type="button" [routerLink]="['employees']" class="nav-link">Employee List</a>
      </div>
      <div class="tw-flex tw-items-center tw-ml-2 tw-mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tw-size-6 tw-mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
        </svg>
        <a type="button" [routerLink]="['add-employee']" class="nav-link">Add Employee</a>
      </div>
    </ul>
  </div>
</div>
