@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply tw-relative tw-font-semibold tw-text-gray-900 hover:tw-text-gray-900 tw-cursor-pointer tw-text-[17px] tw-w-fit md:tw-block after:tw-block after:tw-content-[''] after:tw-absolute after:tw-h-[3px] after:tw-bg-yellow-400 after:tw-w-full after:tw-scale-x-0 after:hover:tw-scale-x-100 after:tw-transition after:tw-duration-300 after:tw-origin-center tw-hidden
  }
  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center
  }

  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase
  }
}

* {
  font-family: 'Poppins';
}
